@tailwind base;
@tailwind components;
@tailwind utilities;
.content{
    background-color: #f1f1f1;
}
.header{
    background-color: rgb(239,0,48); 
}
.allHeader{
    @apply w-full h-20 drop-shadow-lg 
}
.subHeader{
    @apply container px-4 md:px-0 h-full mx-auto flex justify-between items-center mr-5  mb-10 mb-10
}
.subHeader ul{
    @apply hidden fixed top-0 right-0 px-10 py-16 bg-gray-800 z-50
    md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-6 w-full justify-between
}
.subHeader ul li .selected{
    @apply md:hidden fixed top-4 right-6
}
.subHeader ul li{
    @apply text-white opacity-70 hover:opacity-100 duration-300 text-center
}
.departament-buttons{
    @apply w-1/2 pr-2 cursor-pointer hover:text-red-700 text-sm border flex place-items-center text-center
}
.departament-header{
    background-color: #fafafa;
    @apply hover:border-b-red-700 flex mx-auto text-center
}
.Search{
    @apply w-1/2 mr-20 flex
}
.banner{
    @apply mt-2 mb-4 w-full
}
/*Input*/
.inputSearch{
    @apply border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.cards-products{
    max-width: 14em;
    @apply bg-white rounded overflow-hidden shadow-lg px-5 border-gray-400
}
.sections-main{
    @apply m-2 mt-1
}
.sections-description{
    @apply text-lg font-bold text-gray-400 ml-3
}
/*Icons 
.badge{
    @apply inline-flex absolute -top-2 -right-2 justify-center items-center w-6 h-6 text-xs font-bold text-white bg-red-500 rounded-full border-2 border-white dark:border-gray-900
}
 */
.icon{
    @apply flex place-items-center cursor-pointer
}
.icons-Footer{
    @apply mr-2 cursor-pointer
}
